# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Media
media/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini

# staticfile
staticfiles/

#json files
*.json